{{#if model.can_be_tagged}}
<div class="tagger-tags span10">
<label>Tags:</label>
	{{#if model.tags.length}}
		{{#each model.tags}}
			<span class="tagger-tag" >{{this}}</span>
		{{/each}}
	{{/if}}
  {{tags-selector tags=model.tags}}
</div>
{{/if}}