{{#if model.can_be_tagged}}
  <div class="tagger-tags span10">
    <label>Tags:</label>
    {{#each model.tags}}
      <span class="tagger-tag" >{{this}} <i {{action removeTag this}} class='fa fa-times'></i></span>
    {{/each}}
    {{tags-selector tags=model.tags}}
  </div>
{{/if}}
