/* topic view */
.tagger-tags .tagger-tag,
.tagger-admin .tagger-tag,
h3 .tagger-tag,
.tagger-tags-pre-menu-view a,
.tagger-tags-pre-menu-view span,
.tagger-tags-view a.tagger-tag,
.tagger-tags-view span.tagger-tag {
    background-color: #EDEDED;
    color: #333;
}

/* editor */
.tagger-tags {
    line-height: 2em;
    position: absolute;
    top: 17px;
    margin-top: 0px;
    left: 40%;
}
